beautifulsoup4==4.12.3
fastapi==0.104.1
uvicorn==0.23.2
APScheduler==3.10.4
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.0
py-automapper==1.2.3
typer==0.15.1
pymongo==4.11.2
pydantic==2.5.2
certifi==2025.1.31